<mat-toolbar>
    <span>Register To Simple CRUD</span>
</mat-toolbar>
<div class="pgRow">
    <div class="regSide">
        <div class="regBox">
            <h1 class="regTxt"><b>Welcome To Register Portal</b></h1>
            <form class="fieldsArea" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-label>Choose Your Gender</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option value="Male">Male</mat-option>
                      <mat-option value="Female">Female</mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Email</mat-label>
                    <input matInput placeholder="Email" autocomplete="off" formControlName="email">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input matInput placeholder="Password" autocomplete="off" type="password" formControlName="password">
                    <mat-icon matSuffix>password</mat-icon>
                </mat-form-field>
                <p class="accountText">Already have account? <span><a routerLink="/" class="regbtn">Login</a></span></p>
                <button class="loginBtn" mat-raised-button color="primary" [disabled]="!registerForm.valid" [ngStyle]="{'border': !registerForm.valid ? '1px solid black' : 'none'}">Register</button>
            </form>
        </div>
    </div>
    <div class="picSide">
        <img src="assets/loginImg.gif" alt="login" class="mylogin">
    </div>
</div>